<div class="wrapper-page animated fadeInDown">
  <div class="panel panel-color panel-primary">

    <div class="text-center">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form" }) do |f| %>
          <div class="alert alert-info alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              Entrez votre <b>mail</b> et nous vous envoyons un mail avec des instructions !
          </div>

          <div class="form-group m-b-0"> 
              <div class="input-group"> 
                  <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'mail' %>
                  <!-- <input type="password" class="form-control" placeholder="Enter Email">  -->
                  <span class="input-group-btn">
                  <%= f.submit 'Envoyer', class: 'btn btn-primary' %>
                  <!-- <button type="submit" class="btn btn-primary">Envoyer</button>  -->
                  </span> 
              </div> 
          </div> 
      <% end %>
    </div>              
  </div>
</div>



