<section class="content-wrap bg-light section pb0" id="features">
  <div class="container">
        <div class="row">

            <div class="col-sm-6">
                <div class="feature-sec">
                  <h3>Fonctionnalités</h3>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N8gP111ngyo" frameborder="0" gesture="media" allowfullscreen></iframe>
                  </div>
                  <h4 style="color:black;">Des questions ? Contactez directement notre équipe en cliquant ici</h4>
                  <%= link_to contact_path do %>
                    <button type='button' class="use-btn btn-primary">Contact Algoski</button>
                  <% end %>
                </div>
            </div><!-- end col -->

            <div class="col-sm-6 featured-img">
              <%= image_tag 'cellphone.png', class:'img-responsive', alt:'Features-img' %>
            </div>

      </div> <!-- end row -->
  </div><!-- end container -->
</section>