<footer class="footer">
          <div class="container">
        <div class="row">
          <div class="col-lg-1 ">
            <a class="navbar-brand-footer" href="#"><%= image_tag 'logo-grey.png', alt:'algoski', size:'40', class:'brightness'%></a>
          </div>
            
            <div class="col-lg-7 col-lg-offset-1 only-big-screen">
              <ul class="nav navbar-nav">
                <li><a href="#how">Comment ça marche ?</a></li>
                <li><a href="#resorts">Stations de ski</a></li>
                <li><a href="#features">Fonctionnalités</a></li>
                <li><a href="#pricing">Tarifs</a></li>
              </ul>
            </div>

            <div class="col-lg-2 col-lg-offset-1 only-big-screen">
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
          </div>

        </div> <!-- end row -->
      </div> <!-- end container -->
      </footer>
      <!-- End Footer -->