<section class="section" id="pricing">
  
  <div class="row">
    <div class="col-md-offset-2 col-md-2" style="text-align: center;">
      <%= image_tag 'Satisfait_ou_rembourse.png' , size:"200x114" %>
    </div>

    <div class="col-md-6" style="margin-left: 10px;">
      <h4>Garantie 30 jours satisfait ou remboursé !</h4>
      <p>Si pendant les 30 jours qui suivent votre inscription, vous n’avez pas le sentiment d’avoir reçu bien plus que votre investissement, contactez-nous et vous serez 100% remboursé.</p>
    </div>
  </div>
</section>