<section class="section features" id="how">
    <div class="container text-center">

      <div class="row">
        <div class="col-sm-12">
          <h2 class="title">Comment ça marche ?</h2>
          <p class="slogan">Notre méthodologie pour vous apporter un contenu pertinent qui vous fasse gagner du temps et vous permettent de vous différencier face à vos concurrents</p>
        </div>
      </div> <!-- End row -->

      <div class="row pt80">
              <div class="col-sm-4">
                  <div class="features-2">
                      <%= image_tag 'drawing-tablet.png' %>
                  </div>
                  <div>
                    <h3>Retours de propriétaires et d'agences immobilières</h3>
                    <p>A la base du projet, nous avons constaté que de nombreux propriétaires d'appartements et agences immobilières utilisaient les sites d'annonces (comme Abritel, AirBnb ou Homelidays) pour comparer leur prix avec la concurrence. Cependant c'est une tâche fastidieuse lorsqu'elle est réalisée à la main.</p>
                  </div>
              </div> <!-- end col -->

              <div class="col-sm-4">
                  <div class="features-2">
                      <%= image_tag 'code-window.png'%>
                  </div>
                  <div>
                    <h3>Le robot Algoski qui collecte les données en permanence</h3>
                    <p>Forts de notre expérience en programmation et en big data, nous avons alors entrepris de créer un robot qui collecte toutes ces données concurrencielles pour nos clients. Nous sommes capables de lancer plusieurs robots en même temps et de récupérer ainsi des informations clés provenant de plusieures <em>centaines de milliers d'annonces</em>.</p>
                  </div>
              </div> <!-- end col -->

              <div class="col-sm-4">
                  <div class="features-2">
                    <%= image_tag 'clock.png' %>
                  </div>
                  <div>
                    <h3>Une analyse sur mesure pour nos clients</h3>
                    <p>Nous traitons ensuite ces données, pour en retirer des analyses sur-mesure pour nos clients. Grâce à un accès dédié sur le site Algoski ils ont accès à un tableau de bord détaillé par station. Ces indicateurs clés permettent à nos clients de mieux connaître leur concurrence et ainsi de mieux se positionner en terme d'offre et de prix.</p>
                  </div>
                </div> <!-- end col -->

            </div> <!-- End row -->
    </div>
  </section> 