<section class="section" id="pricing">
    <div class="container">

      <div class="row text-center">
      <div class="col-sm-12">
        <h2 class="title">Tarifs</h2>
        <p class="slogan">Deux offres à choisir selon votre situation</p>
      </div>
      </div>

    <!-- end row -->

        <div class="row pt40">
            <div class="col-md-10 col-md-offset-1">
                <div class="row pricing-container">

                  <div class="col-sm-4">
                    <div class="price_card text-center">
                      <div class="header bg-pink">
                        <span class="name">PARTICULIER</span>
                        <span class="price">49€</span>
                      </div>
                      <ul class="price-features">
                        <li>Saison 2017-2018</li>
                        <li>Tous appartements et chalets</li>
                        <li><span style="font-weight: bold">1 station de ski</span>, au choix parmis nos <%= @resort_count %> stations</li>
                      </ul>
                      <%= link_to new_user_registration_path do %>
                        <button class="btn btn-pink w-md">S'inscrire</button>
                      <% end %>
                    </div>
                    <span class="tip">Idéal si vous êtes propriétaire d'un seul bien</span>
                  </div> <!-- end col -->

                  <div class="col-sm-4">
                    <div class="price_card text-center">
                      <div class="header bg-purple">
                        <span class="name">PROFESSIONNEL</span>
                        <span class="price">249€</span>
                      </div>
                      <ul class="price-features">
                        <li>Saison 2017-2018</li>
                        <li>Tous appartements et chalets</li>
                        <li style="font-weight: bold">Toutes les stations de ski de notre base : <%= @resort_count %> stations</li>
                      </ul>
                      <%= link_to new_user_registration_path do %>
                        <button class="btn btn-purple w-md">S'inscrire</button>
                      <% end %>
                    </div> <!-- end Pricing_card -->
                    <span class="tip">Pour les professionnels qui veulent comparer le marché immobilier dans plusieurs stations de ski</span>
                  </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- end Col-10 -->
        </div> <!-- end row -->
    </div> <!-- end Container -->
</section>