<section class="section contact" id="contact">
    <div class="container text-center">

      <div class="row" style="height:90%;">
        <div class="col-sm-12">
					<h1>Contact Algoski</h1>
					
					<p>Vous pouvez nous contacter en nous envoyant un mail directement à l'adresse suivante : </p>
					<h4>contact@algo.ski</h4>
						<a href="mailto:contact@algo.ski">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</a>
						
				</div>
			</div>
		</div>
  
</section>

<%= render 'footer' %>

