<section class="section contact" id="legal">
    <div class="container text-center">

      <div class="row" style="height:90%;">
        <div class="col-sm-12">
          <h1>Mentions légales</h1>
          
          <p>Ce site a été réalisé par l'Association des Loueurs Saisonniers Louant sur Internet (ALSI), basée à Paris 75002.</p>
          
          <%= link_to contact_path do%>
            <h4>Contact</h4>
            <i class="fa fa-envelope" aria-hidden="true"></i>
          <% end %>
            
        </div>
      </div>
    </div>
  
</section>

<%= render 'footer' %>

