<%= render 'aside' %>

<!--Main Content Start -->
<section class="content">
    
   <%= render 'header' %>

    <h1>Dashboards#data-table</h1>
    <p>Find me in app/views/dashboards/data-table.html.erb</p>

    <%= render 'footer' %>

</section>
