/*
 *= require_self
 *= require select2
 *= require bootstrap-reset
 *= require bootstrap-theme.min
 *= require bootstrap.min
 *= require style
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic&subset=latin-ext');
@import url('//fonts.googleapis.com/css?family=Cuprum:400,700&subset=latin-ext');

.brightness
{
  -webkit-filter: brightness(1);
}

navbar-brand:hover
{
  color:white;
}

.navbar-logo 
{
  float: left;
  height: 50px;
  line-height: 50px;
  padding-right: 10px;
  margin-left : 20px;
  img:hover
  {
    /*color: lightgrey;*/
  }
}

.navbar-brand:hover
{
  color:white;
}

.container-to-align-vertically
{
  display: flex;
  align-items: center;
}

.only-big-screen
{
  visibility: visible;
}

.only-small-screen
{
  visibility: hidden;
}

@media screen and (max-width: 480px) {
  .container-to-align-vertically
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .only-small-screen
  {
    visibility: visible;
  }
  .only-big-screen
  {
    display: none;
  }

}

.pricing-container
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 480px) {
  .pricing-container
  {
    flex-direction: column;
  }
}





