<footer class="footer">
          <div class="container">
        <div class="row">
          <div class="col-lg-1 ">
            <%= link_to pages_home_path, class:"navbar-brand-footer" do %>
              <%= image_tag 'logo-grey.png', alt:'algoski', size:'40', class:'brightness'%>
            <% end %>
            </a>
          </div>
            
            <div class="col-lg-5 col-lg-offset-1 only-big-screen">
              <ul class="nav navbar-nav">
                <li>
                  <%= link_to 'Mon compte', dashboards_profile_path %>
                </li>
                
              </ul>
            </div>


        </div> <!-- end row -->
      </div> <!-- end container -->
      </footer>
      <!-- End Footer -->